ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }

.gallery{
    margin-top: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 24px;
  }
  .galleryItem{
    width: 360px;
    border: 1px solid #808080;
  }
  img{
    height: 200px;
    width: 360px;
  }